body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: black;
    border: 2px solid black;
    border-radius: 4px;
    margin: 2px 200px 5px 200px;
    padding: 20px;
  }
  h1 {
    line-height: 25px;
    text-align: right;
    font-size: medium;
  }
  h3 {
    text-align: right;
    font-size: medium;
  }
  
  .current {
    font-size: x-large;
  }
  h2 {
    position: relative;
    top: -60px;
    font-size: medium;
  }
  .row {
    text-align: center;
  }
  #search-form {
    color: blue;
    border-radius: 4px;
    text-align: center;
}
img { line-height: 50px;
  width: 50px;
  height: 50px;
text-align: right;}

.weather-forecast {margin-top: 5px;
  margin-bottom: 10px;
text-align: left;
font-size: 16px;
}

.weather-forecast-date {font-size: 13px;
color: #000;
opacity: 0.5;;}

.weather-forecast-temepratures {font-size:13px;}
.weather-forecast-temprature-min {opacity: 05;;}
